### Environment Variable template file.
## Set "ACCEPT_EULA" parameter to true in order to start Flow Manager

# Default is false
ACCEPT_EULA=""
# Flow Manager container params
FLOWMANAGER_IMAGE_URL="docker.repository.axway.com/flowmanager-docker-prod/2.0/flowmanager_release"
FLOWMANAGER_VERSION="2.0.20241104"
# FQDN of the machine
FM_GENERAL_FQDN=""
# Flow Manager's encryption key
FM_GENERAL_ENCRYPTION_KEY=""

## Governance
# Location of the custom Governance CA certificate
FM_GOVERNANCE_CA_FILE="/opt/axway/FlowManager/configs/governanceca.pem"
# Governance CA certificate password
FM_GOVERNANCE_CA_PASSWORD=""

## UI (Server) Certificate
# Location of the custom HTTPS certificate
FM_HTTPS_KEYSTORE="/opt/axway/FlowManager/configs/uicert.pem"
# HTTPS certificate password
FM_HTTPS_KEYSTORE_PASSWORD=""

## Client Certificate
FM_HTTPS_CLIENT_USE_CUSTOM_CERT="false"
FM_HTTPS_CLIENT_KEYSTORE=""
FM_HTTPS_CLIENT_KEYSTORE_PASSWORD=""

## Mongo params for FlowManager App
# Flow Manager's user MongoDB user
FM_DATABASE_USER_NAME=""
# Flow Manager's user MongoDB user's password
FM_DATABASE_USER_PASSWORD=""
# Flow Manager's database name
FM_DATABASE_NAME="umcft"
# (Only for SSL) - the certificate used to encrypt Flow Manager - MongoDB connection
FM_DATABASE_CERTIFICATES=""

# Initial user password
FM_USER_INITIAL_PASSWORD=""

## CFT Plugin
# Add updates for CFT plugin
FM_CFT_UPDATES_PATH="/opt/axway/FlowManager/updates/cft/"

## ST Plugin
FM_ST_PLUGIN_CA_FILE="/opt/axway/FlowManager/st-fm-plugin/st-fm-plugin-ca.pem"
FM_ST_PLUGIN_PUBLIC_KEY="/opt/axway/FlowManager/st-fm-plugin/st-fm-plugin-public-key.pem"

## Monitoring Plugin
FM_MONITORING_PLUGIN_CA_FILE="/opt/axway/FlowManager/monitoring-fm-plugin/monitoring-fm-plugin-ca.pem"
FM_MONITORING_PLUGIN_PUBLIC_KEY="/opt/axway/FlowManager/monitoring-fm-plugin/monitoring-fm-plugin-public-key.pem"
FM_MONITORING_PLUGIN_DISABLED=""

## Unmanaged Product Plugin
FM_UNMANAGED_PRODUCT_ENABLED=""

## MongoDB container params
# Root username for MongoDB
MONGO_INITDB_ROOT_USERNAME="root"
# Root's password for MongoDB
MONGO_INITDB_ROOT_PASSWORD=""
# The root certificate chain for MongoDB
MONGO_CA_FILE=""
# Both TLS/TLS certificate and key for MongDB
MONGO_PEM_KEY_FILE=""

## SecureTransport Plugin
ST_FM_PLUGIN_IMAGE_URL="docker.repository.axway.com/flowmanager-stplugin-docker-prod/2.0/st-fm-plugin"
ST_FM_PLUGIN_IMAGE_VERSION="2.0.20241104"
ST_FM_PLUGIN_SHARED_SECRET="/usr/src/app/src/st-fm-plugin-shared-secret"
ST_FM_PLUGIN_FM_GOV_CA_FULL_CHAIN="/usr/src/app/src/governanceca.pem"
ST_FM_PLUGIN_SERVER_PRIVATE_KEY_PEM="/usr/src/app/src/st-fm-plugin-cert-key.pem"
ST_FM_PLUGIN_CERT_PEM="/usr/src/app/src/st-fm-plugin-cert.pem"
ST_FM_PLUGIN_SERVER_CA_FULL_CHAIN="/usr/src/app/src/st-fm-plugin-ca.pem"
ST_FM_PLUGIN_JWT_KEY="/usr/src/app/src/st-fm-plugin-private-key.pem"
ST_FM_PLUGIN_DATABASE_CERTIFICATES=""
ST_FM_PLUGIN_PESIT_PWD_UPPERCASE="false"

## Monitoring Plugin 
MONITORING_PLUGIN_IMAGE_URL="docker.repository.axway.com/flowmanager-monitoringplugin-docker-prod/2.0/monitoring-fm-plugin"
MONITORING_PLUGIN_IMAGE_VERSION="2.0.20241104"
MONITORING_PLUGIN_TRUSTSTORE="governanceca.pem"
MONITORING_PLUGIN_PRIVATE_KEY_PEM="monitoring-fm-plugin-cert-key.pem"
MONITORING_PLUGIN_CERT_PEM="monitoring-fm-plugin-cert.pem"
MONITORING_PLUGIN_CA_CHAIN="monitoring-fm-plugin-ca.pem"
MONITORING_PLUGIN_JWT_KEY="monitoring-fm-plugin-private-key.pem"
MONITORING_PLUGIN_SHORT_NAME="MON"
MONITORING_PLUGIN_SHARED_SECRET=""
MONITORING_PLUGIN_DB_CERTIFICATES=""

## FM-BRIDGE
FM_PROXY_ENABLED="false"
FM_PROXY_HOST="fm-bridge"
FM_PROXY_PORT="8080"
FM_BRIDGE_PUBLICKEY="fm-bridge-jwt-public-key.pem"
FM_CORE_PRIVATEKEY="fm-core-jwt-key.pem"
FM_CORE_KEY_PASSWORD=""

## ST-FM-BRIDGE
ST_FM_PLUGIN_FM_DEPLOYMENT_MODE=""
ST_FM_PLUGIN_BRIDGE_HOST="fm-bridge"
ST_FM_PLUGIN_BRIDGE_PORT="8080"

## BRIDGE
BRIDGE_IMAGE_URL="docker.repository.axway.com/flowmanager-bridge-docker-prod/2.0/release"
BRIDGE_IMAGE_VERSION="2.0.20241105"
PROXY_AUTHN_CLAIMS=""
JWT_KEY=""
JWT_KEY_PASSWORD=""
JWT_NAME="BRIDGE"
DISCOVERY_URLS=""
DISCOVERY_URLS_CA=""
FM_CA=""
WHITELIST=""
PROXY_PORT=""
PROXY_HOST=""
BRIDGE_PORT=""
BRIDGE_CERT=""
BRIDGE_KEY=""
BRIDGE_KEY_PASSWORD=""
BRIDGE_CA=""
AGENTS=""
AGENTS_CA=""
DOSA=""
DOSA_KEY=""
