### Environment Variable template file.

### Flow Manager
## Set "ACCEPT_EULA" to true in order to start Flow Manager

## Version
FLOWMANAGER_IMAGE_URL="docker.repository.axway.com/flowmanager-docker-prod/2.0/flowmanager_release"
FLOWMANAGER_VERSION="2.0.20251218"

## General parameters
ACCEPT_EULA="false"
FM_GENERAL_FQDN=""
FM_GENERAL_UI_PORT="8081"
FM_GENERAL_ENCRYPTION_KEY=""
FM_GENERAL_LOGGING_LEVEL="INFO"
FM_MULTINODE_ENABLE="false"
FM_USER_INITIAL_PASSWORD=""

## Transfer CFT plugin parameters
FM_CFT_UPDATES_PATH="/opt/axway/FlowManager/updates/cft/"

## SecureTransport plugin parameters
FM_ST_PLUGIN_DISABLED="false"
FM_ST_PLUGIN_HOST="st-fm-plugin"
FM_ST_PLUGIN_PORT="8899"
FM_ST_PLUGIN_CA_FILE="/opt/axway/FlowManager/st-fm-plugin/st-fm-plugin-ca.pem"
FM_ST_PLUGIN_PUBLIC_KEY="/opt/axway/FlowManager/st-fm-plugin/st-fm-plugin-public-key.pem"

## Monitoring plugin parameters
FM_MONITORING_PLUGIN_DISABLED="true"
FM_MONITORING_PLUGIN_HOST="monitoring-fm-plugin"
FM_MONITORING_PLUGIN_PORT="3000"
FM_MONITORING_PLUGIN_CA_FILE="/opt/axway/FlowManager/monitoring-fm-plugin/monitoring-fm-plugin-ca.pem"
FM_MONITORING_PLUGIN_PUBLIC_KEY="/opt/axway/FlowManager/monitoring-fm-plugin/monitoring-fm-plugin-public-key.pem"

## Unmanaged product plugin
FM_UNMANAGED_PRODUCT_ENABLED=""

## Certificates and keys
FM_GOVERNANCE_CA_FILE="/opt/axway/FlowManager/configs/governanceca.pem"
FM_GOVERNANCE_CA_PASSWORD=""
FM_HTTPS_KEYSTORE="/opt/axway/FlowManager/configs/uicert.pem"
FM_HTTPS_KEYSTORE_PASSWORD=""
FM_HTTPS_CLIENT_USE_CUSTOM_CERT="false"
FM_HTTPS_CLIENT_KEYSTORE=""
FM_HTTPS_CLIENT_KEYSTORE_PASSWORD=""

## Governance CA renewal
FM_OLD_GOV_CA_FILE=""
FM_OLD_GOV_CA_PASSWORD=""

## Database parameters
FM_DATABASE_ENDPOINTS="mongodb:27017"
FM_DATABASE_NAME="umcft"
FM_DATABASE_USER_NAME=""
FM_DATABASE_USER_PASSWORD=""
FM_DATABASE_REPLICA_SET=""
FM_DATABASE_USE_SSL="false"
FM_DATABASE_CERTIFICATES=""
FM_DATABASE_AUTHSOURCE=""
FM_DATABASE_AUTH_MECHANISM=""

## Java Virtual Machine parameters
FM_JVM_XMX="2G"
FM_JVM_XMS="512M"
FM_JVM_XMN="768M"
FM_OPCMD_JVM_EXTRA_ARGS=""

## BRIDGE parameters
FM_PROXY_ENABLED="false"
FM_PROXY_HOST="fm-bridge"
FM_PROXY_PORT="8080"
FM_BRIDGE_PORT="8443"
FM_BRIDGE_CA=""
FM_BRIDGE_PUBLICKEY="fm-bridge-jwt-public-key.pem"
FM_CORE_PRIVATEKEY="fm-core-jwt-key.pem"
FM_CORE_PRIVATEKEY_PASSWORD=""
FM_CFTPLUGIN_PRIVATEKEY=""
FM_CFTPLUGIN_PRIVATEKEY_PASSWORD=""

## Single sign-on parameters
FM_IDP_CONFIGURATION="internal"
FM_IDP_ENTITY_ID=""
FM_IDP_ENTITY_FORMAT=""
FM_IDP_SSO_DESCRIPTOR=""
FM_IDP_HTTPS_ENABLED="true"
FM_IDP_SSL_CERTIFICATE=""
FM_IDP_VERIFY_METADATA_SIGNATURE="false"
FM_IDP_METADATA_RELOAD_DELAY="10"
FM_IDP_SIGN_SAML_MESSAGES="true"
FM_IDP_SIGN_KEYSTORE=""
FM_IDP_SIGN_KEYSTORE_PASSWORD=""
FM_IDP_SIGNATURE_ALGORITHM="sha-256"
FM_IDP_CANONICALIZATION_ALGORITHM="Exclusive"
FM_IDP_SIGN_AUTHENTICATION_REQUEST="true"
FM_IDP_SIGN_LOGOUT_REQUEST="true"
FM_IDP_SIGN_LOGOUT_RESPONSE="true"
FM_IDP_SAML_RESPONSE_BINDING="HTTP-POST"
FM_IDP_UNSIGNED_ASSERTIONS="false"
FM_IDP_VERIFY_ASSERTION_EXPIRATION="true"

## Custom security provider paremeters
FM_CUSTOM_SECURITY_PROVIDER=""
FM_CUSTOM_SECURITY_PROVIDER_NAME=""
FM_CUSTOM_SECURITY_PROVIDER_KEYSTORE_TYPE=""
FM_CUSTOM_SECURITY_PROVIDER_JARS_LIST=""


### MongoDB parameters
MONGO_INTERNAL_PORT="27017"
MONGO_INITDB_ROOT_USERNAME="root"
MONGO_INITDB_ROOT_PASSWORD=""

#MONGO_APP_DATABASE takes the value of FM_DATABASE_NAME; no need to be set
#MONGO_APP_USER takes the value of FM_DATABASE_USER_NAME; no need to be set
#MONGO_APP_PASS takes the value of FM_DATABASE_USER_PASSWORD; no need to be set

MONGO_CA_FILE=""
MONGO_PEM_KEY_FILE=""


### SecureTransport Plugin
## Version
ST_FM_PLUGIN_IMAGE_URL="docker.repository.axway.com/flowmanager-stplugin-docker-prod/2.0/st-fm-plugin"
ST_FM_PLUGIN_IMAGE_VERSION="2.0.20251218"

## Plugin general settings
ST_FM_PLUGIN_HOST="st-fm-plugin"
ST_FM_PLUGIN_PORT="8899"
ST_FM_PLUGIN_ST_SKIP_HOSTNAME_VERIFICATION="false"
ST_FM_PLUGIN_SHARED_SECRET="/usr/src/app/src/st-fm-plugin-shared-secret"
ST_FM_PLUGIN_FM_DEPLOYMENT_MODE="premise"
ST_FM_PLUGIN_PESIT_PWD_UPPERCASE=""
ST_FM_PLUGIN_ST_CONNECTION_TIMEOUT_SECONDS="300"

## Flow Manager settings
#ST_FM_PLUGIN_FM_FQDN takes the value of FM_GENERAL_FQDN; no need to be set
#ST_FM_PLUGIN_FM_PORT takes the value of FM_GENERAL_UI_PORT; no need to be set

## Certificates and keys
ST_FM_PLUGIN_FM_GOV_CA_FULL_CHAIN="/usr/src/app/src/governanceca.pem"
ST_FM_PLUGIN_SERVER_PRIVATE_KEY_PEM="/usr/src/app/src/st-fm-plugin-cert-key.pem"
ST_FM_PLUGIN_SERVER_PRIVATE_KEY_PASSWORD_PATH="/usr/src/app/src/st-fm-plugin-private-key-password.txt"
ST_FM_PLUGIN_CERT_PEM="/usr/src/app/src/st-fm-plugin-cert.pem"
ST_FM_PLUGIN_SERVER_CA_FULL_CHAIN="/usr/src/app/src/st-fm-plugin-ca.pem"
ST_FM_PLUGIN_JWT_KEY="/usr/src/app/src/st-fm-plugin-private-key.pem"

## Database settings
#ST_FM_PLUGIN_DATABASE_ENDPOINTS takes the value of FM_DATABASE_ENDPOINTS; no need to be set
#ST_FM_PLUGIN_DATABASE_NAME takes the value of FM_DATABASE_NAME; no need to be set
#ST_FM_PLUGIN_DATABASE_USER_NAME takes the value of FM_DATABASE_USER_NAME; no need to be set
#ST_FM_PLUGIN_DATABASE_USER_PASSWORD takes the value of FM_DATABASE_USER_PASSWORD; no need to be set

ST_FM_PLUGIN_REPLICA_SET=""
ST_FM_PLUGIN_DATABASE_CONNECTION_RETRIES="15"
ST_FM_PLUGIN_DATABASE_CONNECTION_RETRY_INTERVAL="60"
ST_FM_PLUGIN_DATABASE_USE_SSL="false"
ST_FM_PLUGIN_DATABASE_CERTIFICATES=""

## Bridge parameters
ST_FM_PLUGIN_BRIDGE_HOST="fm-bridge"
ST_FM_PLUGIN_BRIDGE_PORT="8080"


### Monitoring Plugin 
## Version
MONITORING_PLUGIN_IMAGE_URL="docker.repository.axway.com/flowmanager-monitoringplugin-docker-prod/2.0/monitoring-fm-plugin"
MONITORING_PLUGIN_IMAGE_VERSION="2.0.20251218"

## Plugin settings
MONITORING_PLUGIN_HOST="monitoring-fm-plugin"
MONITORING_PLUGIN_PORT="3000"
MONITORING_PLUGIN_SHARED_SECRET=""
MONITORING_PLUGIN_SHARED_SECRET_FILE="monitoring-fm-plugin-shared-secret"
MONITORING_PLUGIN_LOG_LEVEL="info"

## Flow Manager settings
MONITORING_PLUGIN_FM_HOST="flowmanager"
#MONITORING_PLUGIN_FM_PORT takes the value of FM_GENERAL_UI_PORT; no need to be set

## Certificates and keys
MONITORING_PLUGIN_TRUSTSTORE="governanceca.pem"
MONITORING_PLUGIN_PRIVATE_KEY_PEM="monitoring-fm-plugin-cert-key.pem"
MONITORING_PLUGIN_PRIVATE_KEY_PASSWORD=""
MONITORING_PLUGIN_PRIVATE_KEY_PASSWORD_FILE="monitoring-fm-plugin-private-key-password.txt"
MONITORING_PLUGIN_CERT_PEM="monitoring-fm-plugin-cert.pem"
MONITORING_PLUGIN_CA_CHAIN="monitoring-fm-plugin-ca.pem"
MONITORING_PLUGIN_JWT_KEY="monitoring-fm-plugin-private-key.pem"
MONITORING_PLUGIN_JWT_KEY_PASSWORD=""

## Database settings
#MONITORING_PLUGIN_DB_ENDPOINTS takes the value of FM_DATABASE_ENDPOINTS; no need to be set
#MONITORING_PLUGIN_DB_NAME takes the value of FM_DATABASE_NAME; no need to be set
#MONITORING_PLUGIN_DB_USER_NAME takes the value of FM_DATABASE_USER_NAME; no need to be set
#MONITORING_PLUGIN_DB_USER_PASSWORD	takes the value of FM_DATABASE_USER_PASSWORD; no need to be set

MONITORING_PLUGIN_DB_USE_SSL=""
MONITORING_PLUGIN_DB_CERTIFICATES=""
MONITORING_PLUGIN_DB_REPLICA_SET=""


## Bridge
BRIDGE_IMAGE_URL="docker.repository.axway.com/flowmanager-bridge-docker-prod/2.0/release"
BRIDGE_IMAGE_VERSION="2.0.20250613"
PROXY_AUTHN_CLAIMS="iss:BRIDGE,iss:FM;iss:ST,iss:CFTPLUGIN"
JWT_KEY="fm-bridge-jwt-private-key.pem"
JWT_KEY_PASSWORD=""
JWT_NAME="BRIDGE"
DISCOVERY_URLS=""
DISCOVERY_URLS_CA="governanceca.pem"
FM_CA="governanceca.pem"
WHITELIST=""
PROXY_HOST="0.0.0.0"
PROXY_PORT="8080"
BRIDGE_PORT="8443"
BRIDGE_CERT="fm-bridge-cert.pem"
BRIDGE_KEY="fm-bridge-cert-key.pem"
BRIDGE_KEY_PASSWORD=""
AGENTS=""
AGENTS_CA="fm-agent-ca.pem"
DOSA="fm-bridge-dosa.json"
DOSA_KEY="fm-bridge-jwt-private-key.pem"
