### Environment Variable template file.
## Set "ACCEPT_EULA" parameter to yes in order to start Flow Manager

# Default is no
ACCEPT_EULA=""
# Flow Manager container params. The format is 2.0.YYMMDD
FLOWMANAGER_VERSION=""

## Flow Manager App params

# Host address of the Flow Manager instance
FM_GENERAL_FQDN="localhost"
FM_GENERAL_UI_PORT="8081"
# Flow Manager's encryption key
FM_GENERAL_ENCRYPTION_KEY="FMS3cr3t03"
# Flag which informs Flow Manager that you are using custom
FM_HTTPS_USE_CUSTOM_CERT="no"
# Location of the custom HTTPS certificate
FM_HTTPS_KEYSTORE="/opt/axway/FlowManager/configs/uicert.p12"
# HTTPS certificate password
FM_HTTPS_KEYSTORE_PASSWORD=""
# Enable logs in the console
FM_LOGS_CONSOLE="yes"
# FlowManager's logging levels
FM_GENERAL_LOGGING_LEVEL="INFO"

## Governance

# Location of the custom Governance CA certificate
FM_GOVERNANCE_CA_FILE="/opt/axway/FlowManager/configs/governanceca.p12"
# Governance CA certificate password
FM_GOVERNANCE_CA_PASSWORD="FMS3cr3t03"

## Mongo params for FlowManager App
# MongoDB hostname
FM_DATABASE_HOST="mongodb"
# Flow Manager's user MongoDB user
FM_DATABASE_USER_NAME="flowmanager_user"
# Flow Manager's user MongoDB user's password
FM_DATABASE_USER_PASSWORD="flowmanager_pass"
# Flow Manager's database name
FM_DATABASE_NAME="umcft"
# Enable SSL usage with MongoDB
FM_DATABASE_USE_SSL="false"
# (Only for SSL) - the certificate used to encrypt Flow Manager - MongoDB connection
FM_DATABASE_CERTIFICATES=""

## CFT Plugin
# Secret for CFT
FM_CFT_SHARED_SECRET=""
# Add updates for CFT plugin
FM_CFT_UPDATES_PATH="/opt/axway/FlowManager/updates/cft/"

## ST Plugin
FM_ST_PLUGIN_CA_FILE="/opt/axway/FlowManager/st-fm-plugin/st-fm-plugin-ca.pem"
FM_ST_PLUGIN_PUBLIC_KEY="/opt/axway/FlowManager/st-fm-plugin/public-key"
FM_ENABLE_LEGACY_ST="false"

# Other params
FM_JVM_XMX="2G"
FM_JVM_XMS="512M"
FM_JVM_XMN="768M"

## MongoDB container params

# Root username for MongoDB
MONGO_INITDB_ROOT_USERNAME="root"
# Root's password for MongoDB
MONGO_INITDB_ROOT_PASSWORD="rootpassword"
# Database user for Flow Manager
MONGO_APP_USER="flowmanager_user"
# Database users's password for Flow Manager
MONGO_APP_PASS="flowmanager_pass"
# Database name for Flow Manager
MONGO_APP_DATABASE="umcft"
# The root certificate chain for MongoDB
MONGO_CA_FILE=""
# Both TLS/TLS certificate and key for MongDB
MONGO_PEM_KEY_FILE=""

## ST FM Plugin Internal BETA
ST_FM_PLUGIN_IMAGE_VERSION=""
ST_FM_PLUGIN_ST_SKIP_HOSTNAME_VERIFICATION="true"
ST_FM_PLUGIN_FM_FQDN="localhost"
ST_FM_PLUGIN_FM_DEPLOYMENT_MODE="premise"
ST_FM_PLUGIN_SHARED_SECRET="/usr/src/app/src/st-fm-plugin-shared-secret"
ST_FM_PLUGIN_FM_GOV_CA_FULL_CHAIN="/usr/src/app/src/governanceca.pem"
ST_FM_PLUGIN_SERVER_PRIVATE_KEY_PEM="/usr/src/app/src/st-fm-plugin-cert-key.pem"
ST_FM_PLUGIN_CERT_PEM="/usr/src/app/src/st-fm-plugin-cert.pem"
ST_FM_PLUGIN_SERVER_CA_FULL_CHAIN="/usr/src/app/src/st-fm-plugin-ca.pem"
ST_FM_PLUGIN_JWT_KEY="/usr/src/app/src/private-key"
ST_FM_PLUGIN_REJECT_UNAUTHORIZED_CONNECTION="true"
ST_FM_PLUGIN_DATABASE_NAME="umcft"
ST_FM_PLUGIN_DATABASE_USER_NAME="flowmanager_user"
ST_FM_PLUGIN_DATABASE_USER_PASSWORD="flowmanager_pass"
ST_FM_PLUGIN_DATABASE_USE_SSL="false"
ST_FM_PLUGIN_DATABASE_CERTIFICATES=""
